/*** BOOTSTRAP ROOT ***/
:root {
    --primary-color: #1F08B0;
    --secondary-color: #E34C1D;
    --tertiary-color: #100458;
}

/*** TYPOGRAPHY ***/
.anton {
    /* Font per heading */
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1em;
}
  
.dm-sans {
    /* Font per paragrafo */
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
p {
    margin-bottom: 0;
}

.f-size-1 {
    /* riferimento 130px */
    font-size: 8.125em;
}
.f-size-2 {
    /* riferimento 80px */
    font-size: 5em;
}
.f-size-3 {
    /* riferimento 40px */
    font-size: 2.5em;
}
.f-size-4 {
    /* riferimento 24px */
    font-size: 1.5em;
}
.f-size-5 {
    /* riferimento 20px */
    font-size: 1.25em;
}
.f-size-6 {
    /* riferimento 16px */
    font-size: 1em;
}
.f-size-7 {
    /* riferimento 14px */
    font-size: 0.875em;
}
.f-size-8 {
    /* riferimento 13px */
    font-size: 0.8125em;
}
.f-size-9 {
    /* riferimento 11px */
    font-size: 0.6875em;
}
.f-size-30 {
    font-size: 1.875em;
}

strong {
    color: var(--tertiary-color);
}
.f-space-100 {
    letter-spacing: 1px;
}

/*** HTML ***/
html {
    /* scroll-behavior: smooth; */
}

/*** BODY ***/
body {

}

/* Navbar Sticky Layout */
.navbar-sticky .container {
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 0 0.1em 50px rgb(68, 68, 68);
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(10px) saturate(1.2) brightness(1.2);
}

.navbar-sticky .nav-link:hover {
    color: var(--secondary-color) !important;
}

/*** NAVBAR ***/
.navbar {
    padding: 0;
    background: transparent;
}
.navbar .nav-container {
    padding: 25px 60px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
/* Tema della navbar in modalità sticky */
.navbar-sticky .nav-container {
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 0 0.1em 50px rgb(68, 68, 68);
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(10px) saturate(1.2) brightness(1.2);
}

.navbar-nav a, .navbar button {
    text-align: center;
    color: #fff;
}
.navbar-brand {
    height: 50px;
}
.navbar-brand .logo-neg {
    height: 100%;
    filter: drop-shadow(0 1.5em 40px rgb(0, 0, 0));
    transition: .3s ease-in-out;
}
.navbar-brand .logo-neg:hover {
    filter: drop-shadow(0 1em 20px rgb(255, 255, 255));
}
.navbar-brand .logo-pos {
    height: 100%;
    transition: .3s ease-in-out;
}
.navbar-brand .logo-pos:hover {
    filter: drop-shadow(0 0 15px rgb(94, 94, 94));
}
.navbar-nav .nav-link { 
    padding: 15px 30px !important;
    transition: .3s ease-in-out;
}
.navbar-nav .nav-link:hover { 
    color: var(--secondary-color);
}
.navbar-btn-contatti {
    /* letter-spacing: 2px; */
    padding: 15px 25px;
    background-size: 130% 120%;
    background-position: 25% 5%;
    background: var(--primary-color);
    transition: .3s ease-in-out;
}
.navbar-btn-contatti:hover {
    background-color: var(--secondary-color);
}
.navbar-btn-contatti:focus, .navbar-btn-contatti:active {
    box-shadow: none;
}
.btn-contatti {
    padding: 15px 25px;
    background-color: var(--primary-color);
    background: linear-gradient(-110deg, #e9ca31 0%, #e34c1d 26%, #741d7c 53%, #1f08b0 83%, #439AC5 100%);
    background-size: 130% 120%;
    background-position: 25% 5%;
    transition: all .3s ease-in-out;
}
.btn-contatti:hover {
    filter: brightness(150%) hue-rotate(5deg);
    animation-name: buttonOverFirst, buttonOver;
    animation-duration: 0.5s, 2s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards, alternate;
}

.navbar-collapse { 
    color: #000 !important;
    justify-content: flex-end; 
}

.navbar-toggler { 

}

/*** MAIN ***/
.main {
    background-color: #fff;
}
/*** HERO ***/ 
#hero {
    position: relative;
    /*padding: 30px 30px;
    height: 100lvh;
    */
    background-image: url('../images/home-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}
#hero .hero-overlay img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    z-index: -1;
}
/*
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}
*/

#hero .container-fluid {
    padding: 60px;
}
#hero .banner-space {
    height: 200px;
}
#hero .banner-text p {
    text-shadow: 0 3rem 150px rgb(0, 0, 0);
}
#hero .more-btn .btn {
    padding: 0;
}
#hero .more-btn .more-p {
    position: relative;
    transition: .3s ease-in-out;
}
#hero .more-btn .more-bg {
    position: relative;
    top: 40px;
    height: 3em;
    background: linear-gradient(-110deg, #e9ca31 0%, #e34c1d 26%, #741d7c 53%, #1f08b0 83%, #439AC5 100%);
    background-size: 130% 200%;
    background-position: 0% 50%;
    filter: blur(20px) brightness(1);
    transition: .3s ease-in-out;
}
#hero .more-btn .btn img {
    width: 25px;
    animation: bounce 0.8s infinite alternate;
    transition: .3s ease-in-out;
}
#hero .more-btn .btn:hover .more-p {
    text-shadow: 0 0 10px #fff;
}
#hero .more-btn .btn:hover .more-bg {
    box-shadow: 0 0 20px #fff;
    filter: blur(20px) brightness(1.3);
}
#hero .more-btn .btn:hover img {
    animation: bounce .2s infinite alternate;
    translate: 0 10px;
}

/*** SECTION ***/
section {
    position: relative;
    z-index: 10;
}
section .sec-img {
    position: absolute;
    /*z-index: 10;*/
    transition: all .3s ease-in-out;
}
section .sec-left {
    left: 0;
}
section .sec-right {
    right: 0;
}
section .sec-title {
    color: var(--primary-color);
    padding: 60px 0;
}
section .sec-text {
    /*margin: 60px auto;*/
    padding: 60px 0;
}
section .sec-btn {
    /*margin: 40px auto;*/
    padding: 40px 0;
}
section .sec-textblock {
    margin: 45px 0;
}

/*** SEZIONE CHI ***/
#chi {
    padding-top: 290px; 
    padding-bottom: 110px;
}
#chi .sec-img {
    top: 15px;
    bottom: 15px;
}

/*** SEZIONE COSA ***/
#cosa {
    padding-top: 160px;
    padding-bottom: 90px;
}
#cosa .cosa-bg {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    border-radius: 250px;
    z-index: -1;
    background: #ffffff;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%,
                                     rgba(255,255,255,1) 90%,
                                     rgba(229,235,238,1) 96%,
                                   rgba(189,204,212,1) 100%);
}
#cosa .sec-img {
    top: 610px;
    bottom: 15px;
}
#cosa .sec-body {
    padding: 45px 0;
}

/*** SEZIONE SOLUZIONI ***/
#soluzioni {
    padding-top: 65px;
    padding-bottom: 80px;
}
#soluzioni .sec-body {
    padding: 90px 0;
}

/*** SEZIONE VANTAGGI ***/
#vantaggi {
    padding-top: 60px;
    padding-bottom: 100px;
    overflow-x: hidden;
}
#vantaggi .sec-body {
    padding: 30px 0;
}
#vantaggi .sec-body .sec-mediablock {
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;
}
#vantaggi .sec-body .sec-mediablock .media {
    margin-top: 30px;
    margin-bottom: 30px;
}
#vantaggi .sec-body .sec-mediablock .media img {
    width: 50px;
    height: 50px;
    margin: 0 25px;
}
#vantaggi .vantaggi-bg {
    position: absolute;
    background-color: #F2F5F6;
    top: 0;
    width: 225%;
    height: 100%;
    z-index: -1;
}
#vantaggi .vantaggi-bg-left {
    left: -100%;
    border-radius: 0 100px 100px 0;
}
#vantaggi .vantaggi-bg-right {
    right: -100%;
    border-radius: 100px 0 0 100px;
}
#vantaggi .vantaggi-img {
    position: relative;
    width: 200%;
    min-height: 500px;
    flex: 1;
    display: flex;
    align-items: flex-end;
}
#vantaggi .vantaggi-img-left {
    background-color: blue;
    background-image: url(/images/vantaggi-commerciale.jpg);
    background-size:contain;
    background-position: right center;
    border-radius: 0 0 100px 0;
    left: -100%;
}
#vantaggi .vantaggi-img-right {
    background-color: blue;
    background-image: url(/images/vantaggi-utenti.jpg);
    background-size: cover;
    background-position: left center;
    border-radius: 0 0 100px 0;
    border-radius: 0 0 0 100px;
    right: 0;
}

/*** SEZIONE TEAM ***/
#team {
    padding-top: 100px;
    padding-bottom: 30px;
}
#team .card-deck {
    padding: 30px 0;
}
#team .card-deck .card {
    background: none;
    border: none;
    margin-bottom: 45px;
}
#team .in-logo {
    width: 40px;
    height: 40px;
}
#team .card-deck .card-img-box {
    position: relative;
    background-color: #000;
    cursor: pointer;
    overflow: hidden;
}
#team .card-deck .card-img-top {
    transition: all .5s ease-in-out;
}
#team .card-deck .card-bio {
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 10px 20px;
    border-bottom: 40px solid #fff;
	border-right: 30px solid transparent;
	height: 0px;
    line-height: 55px;
    transition: all .5s ease-in-out;
}
#team .card-deck .card-img-box:hover .card-img-top {
    transform: scale(1.2);
    transform-origin: 10% 10%;
    filter:grayscale(0.8);
}
#team .card-deck .card-img-box:hover .card-bio {
    color: var(--secondary-color);
    padding-left: 60px;
}
#teamModal .modal-dialog {

}
#teamModal .modal-header {
    border: none;
}
#teamModal .modal-img {
    padding-left: 2px;
}
#teamModal .modal-role {
    padding-top: 20px;
}
#teamModal .modal-name {
    padding-bottom: 40px;
}
#teamModal .in-logo {
    width: 30px;
    padding-top: 10px;
}



/*** SEZIONE CONTATTI ***/
#contatti {
    padding-top: 200px;
}
#contatti .right {
    max-width: 600px;
}
#contatti .right .form-control {
    background-color: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #BDCCD4;
    transition: .3s ease-in-out;
}
#contatti .right .btn-secondary {
    color: #fff;
    border-radius: 50px;
}
#contatti .right .form-control:focus {
    background-color: rgb(242, 242, 255); 
}

/*** FOOTER ***/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 700px;
    z-index: -1;
}
.footer-cover {
    position: relative;
    background-color: #fff;
    height: 1px;
    margin-bottom: 700px;
    box-shadow: 3px 2px 2px 0px rgba(51,51,51,0.5);
}
.footer-container {
    position: relative;
}
footer .footer-bg {
    position: absolute;
    left: 0;
    background-size: cover;
}
footer .footer-logo {
    height: 100px;
}
footer .footer-img {
    position: relative;
    width: 70%;
}
footer .footer-link {
    display: inline-block;
    color: #fff;
    padding: 30px 0;
    z-index: 20;
}
footer .footer-link:hover {
    text-decoration: none;
    color: var(--secondary-color);
}
footer .footer-bottom {
    
}

/*** ANIMAZINI ***/
@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes buttonOverFirst {

    100% {
        box-shadow: 0 0 20px #e34c1d,
                    0 0 30px #741d7c,
                    0 0 40px #1F08B0;
    }

}

@keyframes buttonOver {
    0% {
        box-shadow: 0 0 20px #e34c1d,
                    0 0 30px #741d7c,
                    0 0 40px #1F08B0;
    }
    50% {
        box-shadow: 0 0 20px #1F08B0,
                    0 0 30px #741d7c,
                    0 0 40px #e34c1d;
    }
    100% {
        box-shadow: 0 0 20px #e34c1d,
                    0 0 30px #741d7c,
                    0 0 40px #1F08B0;
    }
}


/*** MEDIA QUERY ***/
@media (max-width: 767px) {
    
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
    section .sec-left {
        left: -20%;
    }
    section .sec-right {
        right: -20%;
    }
}
@media (min-width: 1200px) {
    section .container, section .container-fluid {
        /*max-width: 78%;*/
        padding-left: 210px;
        padding-right: 210px;
    }
    .navbar {
        margin-left: 200px !important;
        margin-right: 200px !important;
    }
}
@media (max-width: 991px) {
    .navbar-btn-contatti {
        display: none !important;
    }
    .navbar-sticky .nav-container {
        border-radius: 0;
        margin-top: 0;
    }
    section .sec-left {
        left: -40%;
    }
    section .sec-right {
        right: -40%;
    }
}

@media (min-width: 991px) {
    /*
    .nav-contatti {
        display: none !important;
    }
    */
}

@media (min-width: 576px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 768px) {
    /*
    .navbar-nav {
        text-align: center;
    }
    */
}

@media (min-width: 1200px) {
    /*
    .container-fluid {
        max-width: 1500px;
    }
        */
}