:root {
    --primary-color: #1F08B0;
    --secondary-color: #E34C1D;
    --bs-body-bg: #fff;
    --body-font-family: 'DM Sans', serif;     
}

/* --- font --- */
.anton {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
}
  
.dm-sans {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

/* --- body --- */
.body {
    background: #fff;
}

/* --- header --- */
.header {
    background-image: url('../images/home-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}   
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}
.header .description {
    /*
    position: absolute;
    display: flex;
    
    top: 30%;
    margin: auto;
    padding: 2em;
    
    text-align: center;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    width: 100;
    height: 100vh;
    color: white;
    
}
.header .banner-text p,
.header .banner-text h1 {
    text-shadow: 0 0 20px rgb(97, 97, 97),
    0 0 10em rgb(0, 0, 0);
}
.header .description h1 {
    font-size: 130px;
}
.header .description p {
    font-size: 20px;
    line-height: 1.5;
}
.header .description .btn,
.header .description .btn:hover {
    background: none;
    border: none;
    color: #fff;
}
   
/* -- TEST -- */
section {
    /*
    width: 100%;
    height: 500px;
    */
}

/* --- navbar --- */
.navbar {
    margin: auto;
    height: 100px;
}
.navbar-nav a, .navbar button {
    font-family: "DM Sans", serif;
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
}

.navbar-light .navbar-brand {
    font-size: 25px;
}
.navbar-brand img {
    height: 50px;
    filter: drop-shadow(0 0 40px rgb(0, 0, 0));
}
.navbar { background: transparent;}

.nav-link{ 
    padding: 15px 35px;
    margin-right: 1em !important;
}
.nav-link:hover { color: var(--secondary-color) }

.btn-contatti {
    font-weight: 700;
    display: inline-block;
    padding: 15px 35px;
    background-color: var(--primary-color);
    border-radius: 40px;
}
.btn-contatti:hover {
    color: #fff;
    background-color: var(--secondary-color);
}

.navbar-collapse { justify-content: flex-end;}

.navbar-toggler { background:#fff !important;}


/* --- responsive css --- */
@media (max-width: 990px) {
    .btn-contatti {
        display: none !important;
    }
}

@media (min-width: 991px) {
    .nav-contatti {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .navbar-nav {
        text-align: left;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {
        text-align: right;
    }

}

@media only screen and (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1500px;
    }
}